*{
    margin: 0px;
}

body{
    background-color: #eff2f9;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #eff2f9;
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 60%; 
    margin-left: 50px;
    margin-right: 50px;
    z-index: 500;
    max-width: 1200px;
    box-shadow: -5px -5px 10px rgba(250,251,255, 1), 2px 2px 15px rgba(71, 79, 82, 0.23);
}

nav input{
    border-radius: 20px;
    border: none;
    width: 92%;
    background-color: #eff2f9;
    box-shadow: -5px -5px 10px rgba(250,251,255, 1) inset, 2px 2px 15px rgba(87, 93, 95, 0.23) inset; 
    height: 25px;
}

nav button{
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#magGlass{
    margin-left: 10px;
    box-shadow: -5px -5px 10px rgba(250,251,255, 1), 2px 2px 15px rgba(71, 79, 82, 0.23);
    border-radius: 50%;
    position: relative;
}

#magGlass img{
    width: 19px;
    height: auto;
    position: relative;
    top: 2px;
}

header h1{
    position: relative;
    z-index: 0;
    top: 50px;
    padding-top: 50px;
    padding-bottom: 80px;
    font-family: 'Google Sans Flex';
    letter-spacing: 2px;
    font-size: 60px;
    color:#9ea6b3;
    font-weight: 900;
    text-shadow: 2px 2px #ffffff, -1px -1px #cfcfcf;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0px auto; 
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    min-width: 300px; 
    height: 350px;
    background-color: #eff2f9;
    box-shadow: -5px -5px 10px rgba(250,251,255, 1), 2px 2px 15px rgba(71, 79, 82, 0.23);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.innerArea{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 65px;
    border: none;
    background-color: #eff2f9;
    box-shadow: -3px -3px 9px rgba(250,251,255, 1) inset, 3px 3px 9px rgba(219, 220, 223, 0.8) inset;
    border-radius: 8px;
}

.outerArea{
    margin-bottom: 20px;
}

.outerArea h3{
    margin-bottom: 20px;
}

.textDiv{
    text-align: left;
}

button{
    cursor: pointer;
}

input[type="text"]{
    padding-left: 15px;
}

/*this styles the color input as a circle*/
input[type="color"]{
    border: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 7px;
    padding: 0;
    cursor: pointer;
}

/*this removes the inner padding WebKit browsers*/
input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
    border-radius: 50%; 
}

/*this makes the swatch itself circular*/
input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}

/*this is firefox specific styling*/
input[type="color"]::moz-color-swatch{
    border:none;
    border-radius: 50%; 
}

label{
    display: inline-flex;
    align-items: center;
}

footer{
    background-color: #6e7f8d;
    padding: 0px;
    margin: auto 0px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: -3px -3px 10px rgb(185, 185, 185);
}

footer img{
    width: 50px;
    height: auto;
    padding: 10px;
}

footer #name{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #b5bfc6;
    margin: auto;
}

#copyright{
    padding: 10px;
}

#padding{
    margin: 100px;
}

/*Button Styling!!*/
/*button01 has no styling, it is the default button*/

/*button 02 styling: simple and rounded*/
#button02{
    height: 30px;
    width: 90px;
    border-radius: 30px;
    border:none;
    background-color: #6e7f8d;
    color:#b5bfc6
}

/*button 03 styling: neumorphic*/
#button03{
    background-color: #e2e6ee;
    border: none;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    box-shadow: -5px -5px 10px rgba(250,251,255, 1), 2px 2px 15px rgba(71, 79, 82, 0.23);
    color:#b1bcc5;
    text-shadow: 1px 1px #ffffff;
    font-family: 'Google Sans Flex';
    font-weight: 600;
    font-size: 14px;
}

/*button 04 styling: retro*/
#button04{
    height: 40px;
    width: 90px;
    border: 1px solid hotpink;
    box-shadow: 5px 5px hotpink;
    color: hotpink;
    font-family:"Atkinson Hyperlegible Mono", sans-serif;
    font-weight: 600;
    background-color: pink;
}

/*button 05 styling: liquid glass*/
/*this one was a little tough, if you change the background colors, it doesn't look right, I will fix it later*/
#button05{
    height: 40px;
    width: 100px;
    border-radius: 40px;
    border: none;
    background-color: rgba(250, 250, 250, 0.3);
    box-shadow: 0.5px 0.6px 1px #fff;
    box-shadow: inset 0 0 15px rgba(250, 250, 250, 0.3);
    color: white;
    font-family: 'Sen';
}
#button05Area{
    background-image: radial-gradient(circle at 60%  70%,blue 5%,rgb(119, 233, 214)90%);
    height: 50px;
    width: 110px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*button 06 styling: pixel*/
/*there is not really a shortcut to this one, the easiest way is to make your own button image*/
#button06{
    height: 90px;
    width: 90px;
    border: none;
    background-color: rgb(199, 0, 123);
    font-size: 15px;
    text-align: center;
    color: rgb(199, 0, 123);
    font-weight: 700;
    position:relative;
    font-family: 'Tilt Neon';
}

#button06::before{
    content:'';
    height: 88px;
    width: 88px;
    position: absolute;
    top: -2px;
    left: -2px; 
    background-color: rgb(209, 116, 201);
    display: block;
    z-index:-1;
}

#button06, #button06::before{
    clip-path:path("M 0,0 A 10,10 0,0,1 10,10 A 10,10 0,0,1 20,0 A 10,10 0,0,1 30,10 A 10,10 0,0,1 40,0 A 10,10 0,0,1 50,10 A 10,10 0,0,1 60,0 A 10,10 0,0,1 70,10 A 10,10 0,0,1 80,0 A 10,10 0,0,1 90,10 A 10,10 0,0,1 80,20 A 10,10 0,0,1 90,30 A 10,10 0,0,1 80,40 A 10,10 0,0,1 90,50 A 10,10 0,0,1 80,60 A 10,10 0,0,1 90,70 A 10,10 0,0,1 80,80 A 10,10 0,0,1 90,90 A 10,10 0,0,1 70,90 A 10,10, 0,0,1 60,80 A 10,10 0,0,1 50,90 A 10,10 0,0,1 40,80 A 10,10 0,0,1 30,90 A 10,10 0,0,1 20,80 A 10,10 0,0,1 10,90 A 10,10 0,0,1 0,80 A 10,10 0,0,1 10,70 A 10,10 0,0,1 0,60 A 10,10 0,0,1 10,50 A 10,10 0,0,1 0,40 A 10,10 0,0,1 10,30 A 10,10 0,0,1 0,20 Z");
}
