*{
    margin: 0px;
}

body{
    background-color: #eff2f9;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #eff2f9;
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 60%; 
    margin-left: 50px;
    margin-right: 50px;
    z-index: 500;
    max-width: 1200px;
    box-shadow: -5px -5px 10px rgba(250,251,255, 1), 2px 2px 15px rgba(71, 79, 82, 0.23);
}

nav input{
    border-radius: 20px;
    border: none;
    width: 92%;
    background-color: #eff2f9;
    box-shadow: -5px -5px 10px rgba(250,251,255, 1) inset, 2px 2px 15px rgba(87, 93, 95, 0.23) inset; 
    height: 25px;
}

nav button{
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#magGlass{
    margin-left: 10px;
    box-shadow: -5px -5px 10px rgba(250,251,255, 1), 2px 2px 15px rgba(71, 79, 82, 0.23);
    border-radius: 50%;
    position: relative;
}

#magGlass img{
    width: 19px;
    height: auto;
    position: relative;
    top: 2px;
}

header h1{
    position: relative;
    z-index: 0;
    top: 50px;
    padding-top: 50px;
    padding-bottom: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    min-width: 300px; 
    height: 320px;
    background-color: #eff2f9;
    box-shadow: -5px -5px 10px rgba(250,251,255, 1), 2px 2px 15px rgba(71, 79, 82, 0.23);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.innerArea{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 65px;
    border: none;
    background-color: #eff2f9;
    box-shadow: -3px -3px 9px rgba(250,251,255, 1) inset, 3px 3px 9px rgba(219, 220, 223, 0.8) inset;
    border-radius: 8px;
}

.outerArea{
    margin-bottom: 20px;
}

.outerArea h3{
    margin-bottom: 20px;
}

button{
    cursor: pointer;
}

input[type="text"]{
    padding-left: 15px;
}

/*this styles the color input as a circle*/
input[type="color"]{
    border: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 7px;
    padding: 0;
    cursor: pointer;
}

/*this removes the inner padding WebKit browsers*/
input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
    border-radius: 50%; 
}

/*this makes the swatch itself circular*/
input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}

/*this is firefox specific styling*/
input[type="color"]::moz-color-swatch{
    border:none;
    border-radius: 50%; 
}

label{
    display: inline-flex;
    align-items: center;
}

footer{
    background-color: #6e7f8d;
    padding: 0px;
    margin: auto 0px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: -3px -3px 10px rgb(185, 185, 185);
}

footer img{
    width: 50px;
    height: auto;
    padding: 10px;
}

footer #name{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #b5bfc6
}

#copyright{
    padding: 10px;
}